
  body{
    background-color:caf7e3;
  }
  .bo{
    border-style:none;
    border-top-style:dotted;
    border-color:grey;
    border-width:3px;
    width:5%;

  }
  h1,h3{color:34656d;}
